@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutBDS.cshtml";
}


<div class="container-fluid">
    <div class="jumbotron">
        <div class="form-group" style="margin-bottom:0px !important;">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <select class="form-control">
                        <option selected>Toàn quốc</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>

                </div>
                <div class="col-md-4 col-xs-12">
                    <select class="form-control">
                        <option selected>Tất cả chuyên mục</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-md-5 col-xs-12 input-group">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Tìm kiếm</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
            </table>
        </div>
    </div>
</div>
<!--
<select>
    @Html.Raw(ViewBag.TreeConvert)
</select>
@Html.Raw(ViewBag.UlConvert)
-->
